{% load static %}
{% block css %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
    body {
        font-family: 'Roboto', sans-serif;
    }

    h1 {
        text-transform: uppercase;
        text-align: center;
    }

    #main_container {
        margin: 0 auto;
        width: min-content;
    }

    select,
    input {
        background-color: rgba(255, 255, 255, .3);
        border: 1px solid rgba(255, 255, 255, .5);
        padding: 8px 18px;
    }

    select:hover,
    input:hover {
        background-color: rgba(255, 255, 255, .5);
        border: 1px solid rgba(255, 255, 255, .7);
    }

    form {
        width: 600px;
        padding: 35px 20px;
        margin: 1px solid black;
        border-radius: 20px;
        background-color: rgba(127, 255, 212, 0.5);
    }

    form > .form_fields {
        display: table;
        width: 100%;
    }

    form > .form_fields * {
        margin-bottom: 20px;
    }

    form > .form_fields > div.fields_group {
        display: table-row;
    }

    form > .form_fields > div.fields_group > div.field {
        display: table-cell;
    }

    form label {
        margin-right: 16px;
    }

    form > input[type=submit] {
        width: 100%;
        padding: 12px 24px;
        text-transform: uppercase;
    }

    #result {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    /* BACKEND ERRORS */
    #errors p {
        font-weight: bold;
        color: red;
    }

    /* FORM ERRORS */
    #errors_list {
        display: none;
    }

</style>
{% endblock css %}

<div id="main_container">
    <h1>Currency converter</h1>

    {% if form.errors %}
    <div id="errors">
        {% for error in form.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    
    <form action="{% url 'converter' %}" method="POST" onsubmit="return check_form()">
    {% csrf_token %}
        <div class="form_fields">
            <div class="fields_group">
                <div class="field">
                    <label for="scr_currency">Source currency:</label>
                    <select class="input" name="src_currency" id="src_currency" onchange="form_changed()" required>
                        <option value="EUR"{% if form.src_currency == 'EUR' %} selected{% endif %}>EUR</option>
                        {% for currency in currencies %}
                        <option value="{{ currency.currency }}"{% if form.src_currency == currency.currency %} selected{% endif %}>{{ currency.currency }}</option>
                        {% endfor %}
                    </select>
                </div>
    
                <div class="field">
                    <label for="dest_currency">Destination currency:</label>
                    <select class="input" name="dest_currency" id="dest_currency" onchange="form_changed()" required>
                        <option value="EUR"{% if form.dest_currency == 'EUR' %} selected{% endif %}>EUR</option>
                        {% for currency in currencies %}
                        <option value="{{ currency.currency }}"{% if form.dest_currency == currency.currency %} selected{% endif %}>{{ currency.currency }}</option>
                        {% endfor %}
                    </select></div>
            </div>
        
            <div class="fields_group">
                <div class="field">
                    <label for="amount">Amount:</label>
                    <input class="input" type="number" value="1.00" step="0.01" id="amount" name="amount" onchange="form_changed()" required>
                </div>

                <div class="field">
                    <label for="date">Date:</label>
                    <input class="input" id="date" name="date" class="datepicker" placeholder="YYYY-MM-DD" onchange="form_changed()">
                </div>
            </div>
        </div>

        {% if form.result %}
        <p>
            <span id="result">= {{ form.result }} {{ form.dest_currency }}</span> 
            <span id="notes">{% if form.notes %}{{ form.notes }}{% endif %}</span>
        </p>
        {% endif %}

        <input type="submit" value="Convert">
    </form>
    <div id="errors_list">
        <div id="date_error" class="error_message">
            <h4>Wrong date format!</p>
            <ul>
                <li>Format: <b>YYYY-MM-DD</b></li>
                <li>Only dates <b>past 2000-01-01</b></li>
                <li>Older dates' rates may be unailable.</li>
            </ul>
        </div>
    </div>
</div>

{% block javascript %}
<script>
    function form_changed() {
        document.getElementById('result').style.display = 'none';
    }

    function check_date() {
        var date_pattern = /^(20[0-9]{2}[-](0[1-9]|1[012])[-](0[1-9]|[12][0-9]|3[01]))*$/ ;
        let date = document.getElementById('date').value;
        
        if(!date) return true

        valid = date_pattern.test(date);
        if(!valid) {
            document.getElementById('date_error').style.display = 'block';
        } else {
            document.getElementById('date_error').style.display = 'none';
        }

        return valid;
    }

    function check_form() {
        let valid = check_date();
        
        if(!valid) {
            document.getElementById('errors_list').style.display = 'block';
        }

        return valid;
    }

</script>
{% endblock javascript %}